{% extends 'back_office/backoffice_base.html.twig' %}

{% block body %}
	<div class="container mt-3">
		<h1 class="text-center">List of thematics
		</h1>
		<div class="d-flex justify-content-end">
			<a class="d-block btn btn-secondary " href="{{path("backoffice_thematics_add")}}">Add a thematic</a>
		</div>

		<table class="table mt-2">
			<thead class="thead-dark">
				<tr>
					<th class="text-center" scope="col">#</th>
					<th class="text-center" scope="col">Name</th>
					<th class="text-center" scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for thematic in thematics %}
					<tr>
						<th class="text-center" scope="row">{{thematic.id}}</th>
						<td class="text-center">{{thematic.name}}</td>
						<td class="d-flex justify-content-center">
							<a class="d-block btn btn-warning mr-3" href="{{path("backoffice_thematics_edit", {"slug": thematic.slug})}}">
								Edit
							</a>
							<a class="d-block btn btn-danger" href="{{path("backoffice_thematics_delete", {"slug": thematic.slug})}}">
								Delete
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
