{% extends 'back_office/backoffice_base.html.twig' %}

{% block body %}
	<div class="container mt-3">
		<h1 class="text-center">List of categories
		</h1>
		<div class="d-flex justify-content-end">
			<a class="d-block btn btn-secondary " href="{{path("backoffice_categories_add")}}">Add a category</a>
		</div>

		<table class="table mt-2">
			<thead class="thead-dark">
				<tr>
					<th class="text-center" scope="col">#</th>
					<th class="text-center" scope="col">Name</th>
					<th class="text-center" scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}
					<tr>
						<th class="text-center" scope="row">{{category.id}}</th>
						<td class="text-center">{{category.name}}</td>
						<td class="d-flex justify-content-center">
							<a class="d-block btn btn-warning mr-3" href="{{path("backoffice_categories_edit", {"slug": category.slug})}}">
								Edit
							</a>
							{% if is_granted("category_delete", category) %}
								<a class="d-block btn btn-danger" href="{{path("backoffice_categories_delete", {"slug": category.slug})}}">
									Delete
								</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}
