{% extends 'back_office/backoffice_base.html.twig' %}


{% block body %}

	<div class="container mt-3">
		<div class="row text-center d-flex justify-content-center align-items-center">
			<div class="col-6">
				<h2 class="text-dark">Last movies</h2>
				<table class="table mt-2">
					<thead class="thead-dark">
						<tr>
							<th class="text-center" scope="col">#</th>
							<th class="text-center" scope="col">Name</th>
						</tr>
					</thead>
					<tbody>
						{% for movie in lastMovies %}
							<tr>
								<th class="text-center" scope="row">{{movie.id}}</th>
								<td class="text-center">{{movie.name}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="row d-flex justify-content-center">
					<div class="col-3">
						<a class="btn btn-dark rounded" href="{{path('backoffice_movies_browse')}}">Voir plus</a>
					</div>
				</div>
			</div>
			<div class="col-6">

				<h2 class="text-dark">Last categories</h2>
				<table class="table mt-2">
					<thead class="thead-dark">
						<tr>
							<th class="text-center" scope="col">#</th>
							<th class="text-center" scope="col">Name</th>
						</tr>
					</thead>
					<tbody>
						{% for category in lastCategories %}
							<tr>
								<th class="text-center" scope="row">{{category.id}}</th>
								<td class="text-center">{{category.name}}</td>

							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="row d-flex justify-content-center">
					<div class="col-3">
						<a class="btn btn-dark rounded" href="{{path('backoffice_categories_browse')}}">Voir plus</a>
					</div>
				</div>
			</div>
			<div class="col-6 mt-3 my-5">

				<h2 class="text-dark">Last users</h2>
								<table class="table mt-2">
					<thead class="thead-dark">
						<tr>
							<th class="text-center" scope="col">#</th>
							<th class="text-center" scope="col">Email</th>
						</tr>
					</thead>
					<tbody>
						{% for user in lastUsers %}
							<tr>
								<th class="text-center" scope="row">{{user.id}}</th>
								<td class="text-center">{{user.email}}</td>

							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="row d-flex justify-content-center">
					<div class="col-3">
						<a class="btn btn-dark rounded" href="{{path('backoffice_users_browse')}}">Voir plus</a>
					</div>
				</div>
			</div>
			<div class="col-6 mt-3 my-5">

				<h2 class="text-dark">Last comments</h2>
								<table class="table mt-2">
					<thead class="thead-dark">
						<tr>
							<th class="text-center" scope="col">#</th>
							<th class="text-center" scope="col">Movie</th>
							<th class="text-center" scope="col">Comment</th>
							
						</tr>
					</thead>
					<tbody>
						{% for comment in lastComments %}
							<tr>
								<th class="text-center" scope="row">{{comment.id}}</th>
								<td class="text-center">{{comment.movie.name}}</td>
								<td class="text-center">{{comment.comment}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="row d-flex justify-content-center">
					<div class="col-3">
						<a class="btn btn-dark rounded" href="{{path('backoffice_comments_browse')}}">Voir plus</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
