<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Oldix Back-Office
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		{% endblock %}
	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
			<a class="navbar-brand" href="{{path('backoffice')}}">Oldix Back-Office</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
							Movie
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{path("backoffice_movies_add")}}">New</a>
							<a class="dropdown-item" href="{{path("backoffice_movies_browse")}}">Show all</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
							Category
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{path("backoffice_categories_add")}}">New</a>
							<a class="dropdown-item" href="{{path("backoffice_categories_browse")}}">Show all</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
							Thematic
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{path("backoffice_thematics_add")}}">New</a>
							<a class="dropdown-item" href="{{path("backoffice_thematics_browse")}}">Show all</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
							Language
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{path("backoffice_languages_add")}}">New</a>
							<a class="dropdown-item" href="{{path("backoffice_languages_browse")}}">Show all</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
							Mood
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{path("backoffice_moods_add")}}">New</a>
							<a class="dropdown-item" href="{{path("backoffice_moods_browse")}}">Show all</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
							User
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{path("backoffice_users_add")}}">New</a>
							<a class="dropdown-item" href="{{path("backoffice_users_browse")}}">Show all</a>
							<a class="dropdown-item" href="{{path("backoffice_comments_browse")}}">Show comments</a>
						</div>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					{% if  app.user.roles is defined %}
						<li class="nav-item">
							<a class="nav-link text-white rounded btn btn-danger" href="{{path("app_logout")}}">Logout</a>
						</li>
					{% endif %}

				</ul>
			</div>
		</nav>

		<div id="messages"></div>
		{% block body %}{% endblock %}
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
		<script src="/js/app.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function () {
{% for label,message in app.flashes %}
app.displayMessage("{{ message[0] }}", "{{ label }}");{% endfor %}
})
		</script>
	</body>
</html>
<template id="message" style="top:-500px">
	<div id="flashMessage" class="text-white text-center h4 py-4 my-0"></div>
</template>
